nav{
    background-color: rgb(22, 31, 56);
}

body{
    
}

nav{

    justify-content: space-between;
}
nav a{
    display: flex;
    padding: 1.2%;
    
}

.navbar-nav{
    padding: 1em;
}
.nav-item{
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: rgb(23, 49, 86);
    margin-left: 50px;
    border-radius: 15%;
}

#submenu{
    display: none;
}
.card:hover{
    transition: 0.3s;
}

.card:hover{
    scale: 120%;
}

.productos_1{
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
}
.seccion1_footer{
padding-left: 20%;
padding-right: 20%;
padding-bottom: 5%;
}

.img-thumbnail{
    width: 200px;
}

.carousel-item img {
  object-fit: cover;
  height: 420px;
}

footer {
    font-weight: 500;
    margin-top: 2em;
    background-color: rgb(51, 59, 82);
    display:flex;
    justify-content: space-between;
}
footer div {
    padding-top: 2em;
}
footer img {
    width: 100px;
}
footer p {
    margin-top: 1em;
}
