nav{
    background-color: rgb(22, 31, 56);
}

body{
    
}


nav{

    justify-content: space-between;
}
nav a{
    display: flex;
    padding: 1.2%;
    
}





#submenu{
    display: none;
}
.card:hover{
    transition: 0.3s;
}

.card:hover{
    scale: 120%;
}

.productos_1{
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
}
.seccion1_footer{
padding-left: 20%;
padding-right: 20%;
padding-bottom: 5%;
}



.img-thumbnail{
    width: 200px;
}

.carousel-item img {
  object-fit: cover;
  height: 420px;
}
footer {
    background-color: rgb(51, 59, 82);
    display:flex;
    justify-content: space-between;
}
footer div {
    padding-top: 2em;
}