nav{
    background-color: rgb(22, 31, 56);
}

body{
    
}
nav{
    display: flex;
    justify-content: space-between;
}
nav h1{
    display: flex;
    padding: 1.2%;
    
}
nav ul{
    display: flex;
    align-self: right;
    text-decoration: none;
    list-style: none;
    margin-left: auto; 

}
nav li {
    padding: 2em;
    border-radius: 5%;
}

nav li:hover{
    background-color: rgb(43, 63, 118);
    color: rgb(103, 132, 212);
}
.productos_1{
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
}
.seccion1_footer{
padding-left: 20%;
padding-right: 20%;
padding-bottom: 5%;
}



.img-thumbnail{
    width: 200px;
}

.carousel-item img {
  object-fit: cover;
  height: 420px;
}
